*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.wrapper{
     font-family: initial;
     display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background: #fafafa;

}
.wrapper h1{
    font-size: 3rem;
    margin: 25px 0;
    text-align: center;
    font-weight: 500;
}
.content-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1000px;
    margin-top: 30px;
}
.card{
    min-height: 220px;
    width: 320px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin: 10px 4px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.2);
}
.card h2{
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
}
.card p{
    color: #6c757d;
    text-align: center;
}
.card :hover{

}
.card :hover i,
.card :hover p{
    color: #fff;
}
.card :hover h2{
    font-weight: 500;
}
.card:nth-child(1):hover{
    background:linear-gradient(45deg,
                               rgba(255,28,8,0.8)0%
                               rgba(255,0,82,0.8)100%),
                               url(https://images.wallpaperscraft.com/image/single/laptop_cup_glasses_plant_114948_300x168.jpg);
                        background-size: cover;       
    
}
img{
    background-size: cover;
    height: 130px;
    width: 170px;
}
.carousel-item{
    height: 800px;
    width: 200px;
}
.carousel-item img{
    height: 100vh !important; 
}